body {
	font-family: Arial;
	padding: 1em;
}
textarea {
	margin-top: 0.5em;
	width: 100%;
	height: 10em;
}

#xml {
	white-space: pre;
  overflow-wrap: normal;
  overflow-x: scroll;
}

canvas {
	image-rendering: pixelated;
	width: 100%;
}

.section {
	border-bottom: 1px solid dimgray;
	padding: 1em;
}

h2 {
	font-size: 14pt;
	margin-bottom: 0.5em;
}

hr {
	border: none;
	border-bottom: 1px solid dimgray;
}

.section_header {
	font-size: 11pt;
	color: dimgray;
	margin-bottom: 0em;
}

#inputTextarea {
	position: relative;
}

.jsonBad {
	color: red;
}
.jsonGood {
	color: green;
}
#jsonStatus {
	font-size: 10pt;
	position: absolute;
	right: 0px;
	top: -8pt;
}
#convert {
	font-size: 14pt;
}

#img {
	margin-top: 0.5em;
	max-height: 255px;
	overflow: scroll;
	display: none;
	border: 1px solid black;
}
.advanced {
	margin-top: 0.2em;
	font-size: 11pt;
}

.settings abbr {
	width: 9em;
	text-align: right;
	display: inline-block;
}
.settings .advanced abbr {
	width: 6em;
}
.settings input {
	width: 8em;
}

.tutorial img {
	max-width: 30em;
}
